@use "../../../../assets/scss/variables" as *;

.form-boxes {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  select {
    border-radius: 16px;
    border: 1px solid silver;
    color: gray;
    background-color: white;
    padding: 0 12px;
    font-size: 14px;
    text-align: left;
    width: 90%;
    height: 30px;
  }
  input {
    border-radius: 16px;
    border: 1px solid silver;
    color: gray;

    padding: 12px 22px;
    font-size: 14px;
    height: 30px;
    width: 90%;
  }

  textarea {
    border-radius: 16px;
    border: 1px solid silver;
    color: gray;

    padding: 10px 17px;
    font-size: 14px;
    width: 90%;
  }
  textarea {
    resize: unset;
  }

  textarea:focus {
    outline: none;
    border: 2px solid #00b5ff;
  }
  .text {
    font-family: $font-default1;
  }
  label {
    font-family: $font-default1;
    color: #b2b2b2;
    font-size: 13px;
  }
}
.line1 {
  border-left: 2px solid #b2b2b2;
  height: 400px;
  position: absolute;

  left: 45%;
  margin-left: -2%;

  top: 0;
  width: auto !important;
}

.article {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 12px #8e8f8f8c;
  border-radius: 11px;
  opacity: 1;

  padding-left: 6px;
  margin-left: 30px;
  width: 95%;
  height: fit-content;
  @media only screen and (max-width: 650px) {
    width: 100%;
    margin-left: 0px;
  }
}
.service {
  color: #2a669a;
  font-family: $font-default1;
  font-size: 25px;
}
.content {
  padding: 20px 10px;
  .title {
    font-family: $font-default1;
    font-size: 14px;

    letter-spacing: 0px;
    color: #b2b2b2;
  }
  .text-side {
    font-family: $font-default1;
    color: #b2b2b2;
    font-size: 14px;
  }
}
.suggest {
  font-family: $font-default1;
  font-weight: normal;
  font-size: 14px;
  color: #b2b2b2;
}
.suggest-block {
  border: 1px solid #00b5ff;
  border-radius: 7px;
  padding: 43px 15px;
}
.catalogue-text {
  margin-left: 16px;
  margin-top: 3px;
  font-family: $font-default1;
  font-size: 12px;

  font-weight: 600;
}
.inputs {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 12px #8e8f8f8c;
  border-radius: 11px;
  opacity: 1;

  padding-left: 6px;
}

.title-service {
  font-family: $font-default1;
  color: #2a669a;
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
}
.line-se {
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #2a669a;
  bottom: -35%;
}
.card-article {
  height: 23rem;

  border: 0.694805px solid rgba(207, 219, 213, 0.6);
  border-radius: 11.1169px;
}
.auth-nm {
  font-family: $font-Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */

  text-align: right;

  /* #000000/Primary */

  color: #000000;
}
.card-article figure {
  width: 100%;
  border-radius: 16px 16px 0 0;

  height: 11rem;
  overflow: hidden;
}
.card-article figure img {
  width: 100%;
  border-radius: 14px 14px 0px 0px;
  object-fit: cover;
}
.prx {
  font-family: $font-Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* or 150% */

  /* #5D5D5B */

  color: #5d5d5b;
}
.ln-crd {
  position: absolute;
  width: calc(100% - 33px);

  height: 1px;
  mix-blend-mode: normal;
  opacity: 0.6;
  border: 1px solid rgba(207, 219, 213, 0.6);
  bottom: 62px;
  margin-bottom: 10px;
  right: 15px;
}
.price {
  font-family: $font-Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: right;

  /* #000000/Primary */

  color: #000000;
}

.type-article {
  font-family: $font-manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  margin-left: 13px;
  /* #000000/Primary */

  color: #000000;
}
.prix {
  color: #00b5ff;
  font-family: $font-default1;
  font-weight: normal;
  font-size: 13px;
}
.description-article {
  color: #707070;

  font-family: $font-default1;
  font-size: 14px;
  border: none;
  outline: none;
  width: 100%;
}
.article-nom {
  color: #2a669a;
  font-weight: bold;
  font-size: 15px;
  font-family: $font-default1;
}

.description-article:focus {
  border-color: #60a9e9;
}

#items {
  margin-top: -10px;
}
.display {
  font-family: $font-default1;
  font-size: 16px;
  color: #2a669a;
  font-weight: 600;
}
.add-btn {
  font-family: $font-default1;
  font-size: 12px;
  font-weight: 600;
}
.item {
  padding-left: 35% !important;
  @media screen and (max-width: 768px) {
    padding-left: 40% !important;
  }
}
.items1 {
  margin-top: 10px;
}

.item1 {
  padding-left: 25% !important ;
  @media screen and (max-width: 768px) {
    padding-left: 40% !important;
  }
}
