@use "../../assets/scss/variables" as *;

.image {
  max-width: 100%;
}
.oppor-a {
  margin-top: 10px;
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  text-align: center;
  margin-bottom: 11px;
  color: #36a9e1;
}
.sign-xfl {
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  text-align: center;

  background: linear-gradient(90deg, #36a9e1 0%, #092d58 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.img-xfg {
  min-width: 100%;
  padding: 10px;
}
.input-xfl {
  padding-left: 20px;
  height: 52px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(228, 230, 232, 0.85);
  border-radius: 10px;
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
input[type="password"]:focus {
  outline-color: #25a9e0 !important;
}
.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 89px;
  height: 100%;
  padding: 0 0 0 8px;
  border-radius: 3px 0 0 3px;
}
.input-xfl::placeholder {
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  color: #8083a3;
}
.qs-l {
  position: relative;
  top: -65px;
  margin-right: 27px;
}
.connect-btn {
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 175% */
  padding: 9px 20px;
  text-align: center;

  /* #FFFFFF */

  color: #ffffff;
  border: none;
  background: #3e7eff;
  border-radius: 10px;
}

.sug {
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  margin-left: 68px;

  /* or 122% */

  /* #FFFFFF */

  color: #ffffff;
}
.selected {
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  color: #8083a3;
}
.sign-text {
  position: absolute;
  top: 273px;
  left: 15%;
  width: 406px;
}
.bienv-text {
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;

  /* or 122% */

  /* #FFFFFF */

  color: #ffffff;
}
.pnl-xl {
  margin-bottom: 15px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background: #3e7eff;
  border-radius: 10px;
  font-family: $font-public-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 175% */

  text-align: center;

  /* #FFFFFF */

  color: #ffffff;
}
.pnl-xl:hover {
  background: #4c7ad4;
}
.connect-btn:hover {
  background: #4c7ad4;
}
.cred-des {
  margin-left: 17px !important;
  font-family: $font-public-sans !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  /* identical to box height, or 150% */

  /* #171721/Primary */

  color: #171721 !important;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container .plg {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover .plg ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container .plg:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container .plg:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
